@use "../partials/functions" as f;
.bioCard {
  width: f.rem(320);
  border-radius: f.rem(16);
  background-color: var(--darkBlue);
  color: var(--blue);
  position: relative;
  text-align: center;
  padding: f.rem(32);
  &__header {
    position: absolute;
    top: f.rem(16);
    inset-inline: f.rem(16);
    display: flex;
    justify-content: flex-end;
  }
  &__image {
    border-radius: 9999px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: f.rem(176);
    filter: saturate(0);
  }
}
