@use "../partials/functions" as f;
@layer components {
  .bioCard {
    // variables locales
    --bg-color: var(--darkBlue);
    @media (prefers-color-scheme: dark) {
      --bg-color: var(--white);
    }

    width: f.rem(320);
    border-radius: f.rem(16);
    background-color: var(--bg-color);
    color: var(--blue);
    position: relative;
    text-align: center;
    padding: f.rem(32);
    overflow: hidden;
    &__header {
      position: absolute;
      top: f.rem(16);
      inset-inline: f.rem(16);
      display: flex;
      justify-content: flex-end;
    }
    &__image {
      border-radius: 9999px;
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: f.rem(176);
      filter: saturate(0);
      margin-bottom: f.rem(24);
    }
    &__title {
      font-size: f.rem(24);
      font-weight: bold;
      @include f.textGradient($startColor: var(--pink), $endColor: var(--orange));
      margin-top: 0;
      margin-bottom: f.rem(12);
    }
    &__subtitle {
      font-size: f.rem(20);
      font-weight: 400;
      margin-top: 0;
      margin-bottom: f.rem(24);
    }
    &__separator {
      color: inherit;
      border-top: solid thin currentColor;
      border-bottom: none;
      margin-top: 0;
      margin-bottom: f.rem(16);
    }
    &__text {
      line-height: normal;
      margin-top: 0;
      margin-bottom: f.rem(48);
    }
    &__footer {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        inset: f.rem(-32) f.rem(-32) f.rem(-64);
        background: linear-gradient(173deg, var(--orange), var(--pink) 50%);
        transform: skewY(7deg);
      }
      &__list {
        @include f.resetList;
        @include f.flexbox($justify: center, $align: center, $gap: f.rem(24));
        position: relative;
      }
    }
    &__link {
      @include f.flexbox($justify: center, $align: center);
      width: f.rem(32);
      height: f.rem(32);
      background-color: var(--white);
      border-radius: 9999px;
      svg,
      path {
        fill: var(--pink);
      }
      &--alt {
        background: linear-gradient(to bottom, var(--cyan), var(--green));
        svg,
        path {
          fill: var(--black);
        }
      }
    }
  }
}
